<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PokemonGo.RocketAPI.UI.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PokemonGo.RocketAPI.UI.UserSettings>
            <setting name="AuthType" serializeAs="String">
                <value>Ptc</value>
            </setting>
            <setting name="PtcUsername" serializeAs="String">
                <value>Hustokrutor</value>
            </setting>
            <setting name="PtcPassword" serializeAs="String">
                <value>kofola86</value>
            </setting>
            <setting name="GoogleRefreshToken" serializeAs="String">
                <value />
            </setting>
            <setting name="DefaultLatitude" serializeAs="String">
                <value>49.175566</value>
            </setting>
            <setting name="DefaultLongitude" serializeAs="String">
                <value>16.565608</value>
            </setting>
            <setting name="DefaultAltitude" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="KeepMinIVPercentage" serializeAs="String">
                <value>85</value>
            </setting>
            <setting name="KeepMinCP" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="WalkingSpeedInKilometerPerHour" serializeAs="String">
                <value>50</value>
            </setting>
        </PokemonGo.RocketAPI.UI.UserSettings>
    </userSettings>
</configuration>